html, body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#885588+75,885588+75,ddbbdd+100 */
  background: #885588; /* Old browsers */
  background: -moz-linear-gradient(left,  #885588 75%, #885588 75%, #ddbbdd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #885588 75%,#885588 75%,#ddbbdd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #885588 75%,#885588 75%,#ddbbdd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#885588', endColorstr='#ddbbdd',GradientType=1 ); /* IE6-9 */
}

.grad_div {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#885588+75,885588+75,ddbbdd+100 */
  background: #885588; /* Old browsers */
  background: -moz-linear-gradient(left,  #885588 75%, #885588 75%, #ddbbdd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #885588 75%,#885588 75%,#ddbbdd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #885588 75%,#885588 75%,#ddbbdd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#885588', endColorstr='#ddbbdd',GradientType=1 ); /* IE6-9 */
}
